
<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Tangent | Home</title>

<!-- Bootstrap core CSS -->
<!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">

<!-- Custom styles for this template -->
<link href="@{/css/starter-template.css}" rel="stylesheet">
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/employee/all}">Employees</a></li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/employee/me}">My Profile</a></li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/user/me}">User Profile</a></li>

			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search"
					aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

	<main role="main" class="container">

	<div class="starter-template">
		<div class="row">
			<h1>All Employees</h1>
		</div>
		<div class="form-horizontal">
			<form action="#" th:action="@{/employee/all}" method="GET">
				<div class="form-group">
					<label class="sr-only" for="race">Race</label> <select
						class="form-control" id="race" name="race">
						<option value="" selected="selected">Any Race</option>
						<option th:each="r: ${T(com.edsonj.tangent.util.Race).values()}"
							th:value="${r}" th:text="${r}"></option>
					</select>
				</div>
				<div class="form-group">
					<label class="sr-only" for="start_date_range">Start Date
						Range</label> <select id="start_date_range" name="start_date_range"
						 class="form-control">
						<option value="" selected="selected">Any date</option>
						<option value="1">Today</option>
						<option value="2">Past 7 days</option>
						<option value="3">This month</option>
						<option value="4">This year</option>
						<option value="5">Yesterday</option>
					</select>
				</div>
				<div class="form-group">
					<label class="sr-only" for="position">Position Id</label> 
					<input
						class="form-control" id="position" name="position" type="number" min="1" max="100"
						placeholder="Position Id">
				</div>
				<div class="form-group">
				<label class="sr-only" for="user">User Id</label> <input
						class="form-control" id="user" name="user" type="number" min="1" max="1000"
						 placeholder="User Id">
				</div>
				<div class="form-group">
					<label class="sr-only" for="gender">Gender</label> <select
						class="form-control" id="gender" name="gender">
						<option value="" selected="selected">Any Gender</option>
						<option th:each="r: ${T(com.edsonj.tangent.util.Gender).values()}"
							th:value="${r}" th:text="${r}"></option>
					</select>
				</div>
				<div class="form-group">
					<label class="sr-only" for="birth_date_range">Start Date
						Range</label> <select id="birth_date_range" name="birth_date_range"
						 class="form-control">
						<option value="" selected="selected">Any date</option>
						<option value="1">Today</option>
						<option value="2">Past 7 days</option>
						<option value="3">This month</option>
						<option value="4">This year</option>
						<option value="5">Yesterday</option>
					</select>
				</div>
				<label class="sr-only" for="email__contains">Email</label> <input
						class="form-control" id="email__contains" name="email__contains" type="text"
						 placeholder="Email filter">
				</div>
				<button class="btn btn-default" type="submit">Search</button>

			</form>
		</div>
		<table class="table table-striped table-hover table-dark">
			<thead>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Username</th>
				<th>Email</th>
				<th>Gender</th>
				<th>Race</th>
				<th>Date of Birth</th>
				<th>Job Title</th>
				<th>Position</th>
				<th>Active</th>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.user.firstName}">Firstname</td>
					<td th:text="${employee.user.lastName}">Lastname</td>
					<td th:text="${employee.user.username}">Username</td>
					<td th:text="${employee.user.email}">Email</td>
					<td th:text="${employee.gender}">Gender</td>
					<td th:text="${employee.race}">Race</td>
					<td th:text="${employee.birthDate}">Date of Birth</td>
					<td th:text="${employee.position.name}">Job Title</td>
					<td th:text="${employee.position.level}">Position</td>
					<td th:text="${employee.user.active}">Is Active</td>
				</tr>
			</tbody>
		</table>

	</div>

	</main>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script src="@{/js/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</body>
</html>
